<div id="message-bar">
  <div class="attachments-content">
    <app-conversation-message-bar-attachment
      [attachment]="file"
      (remove)="removeAttachment($event)"
      *ngFor="let file of messageAttachments">
    </app-conversation-message-bar-attachment>
  </div>
  <div class="input-content">
    <textarea class="textarea" rows="1" appAutosize (keypress)="onSubmit($event)" [(ngModel)]="messageModel.Data" [ngModelOptions]="{standalone: true}"></textarea>
    <button type="button" (click)="onSubmit()" name="button" class="btn btn-link">SEND</button>
  </div>
  <div class="options-content">
    <div class="option-item"><i class="material-icons">mail</i><span>Quick message</span></div>
    <label class="option-item file" for="file">
          <i class="material-icons">attach_file</i>
          <span>Add file</span>
          <input type="file" multiple (change)="onFileChange($event)" id="file">
      </label>
    <div class="option-item"><i class="material-icons">alarm</i><span>Delivery alert</span></div>
    <div class="option-item"><i class="material-icons">hourglass_empty</i><span>Life time</span></div>
    <div class="option-item"><i class="material-icons">settings_phone</i><span>Callback</span></div>
    <div class="option-item"><i class="material-icons">error</i><span>Stat</span></div>
    <div class="option-item"><i class="material-icons">warning</i><span>High</span></div>
  </div>
</div>
