#message-bar {
  padding: 0 6px;
  background-color: #c5e0f3;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;

  & > div {
    padding: 6px 0;
  }
}

.input-content {
  display: flex;

  .textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 6px;
    background-color: #fff;
    flex: 1 1 auto;
    overflow: auto;
    line-height: 20px;
    font-size: 1em;
    max-height: 72px;
    resize: none;
  }

  button {
    color: #0d54a4;
    font-weight: bold;
  }
}

.options-content {
  display: flex;
  justify-content: space-around;
  font-size: 0.7em;

  .option-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0d54a4;
    cursor: pointer;

    &.file {
      position: relative;
      margin: 0;
      font-weight: normal;

      input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
      }
    }

    span {
      padding-top: 8px;
    }

    @media (max-width: 600px) {
      span {
        display: none;
      }
    }
  }
}
