#top-bar {
  height: 59px;
  padding: 20px;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .actions {
    flex: 0 0 auto;
  }

  .title {
    color: #064fa1;
    font-weight: bold;
  }
}
