<div id="navbar">
  <ul>
    <li>
      <a href="">
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="">
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a href="">
        <span>Account</span>
      </a>
    </li>
  </ul>
</div>
