#navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  height: inherit;

  li {
    padding: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;

    a {
      color: #0d54a4;
    }

    .material-icons {
      display: none;
    }
  }
}
