<div class="conversation"
  *ngIf="conversation && conversation.messages.length"
  [routerLink]="['/conversations', conversation.data.Id]"
  routerLinkActive="active">

  <div class="state">
    <div class="status">
      <i class="material-icons" *ngIf="lastMessage?.data.Priority == 1">error</i>
      <i class="material-icons" *ngIf="lastMessage?.data.Priority == 2">warning</i>
    </div>
    <div class="callback">
      <i class="material-icons" *ngIf="lastMessage?.data.Callback">phone</i>
    </div>
  </div>

  <div class="text-data">
    <div class="users-list">
      <span class="user" *ngFor="let id of users$ | async">{{(ds.getUserById(id) | async)?.fullName}}</span>
    </div>
    <div class="chat-name">{{conversation.data.Name}}</div>
    <div class="chat-message">
      <span class="user" *ngIf="lastMessage">{{(ds.getUserById(lastMessage.data.SenderId) | async)?.fullName}}</span>
      <span class="message">{{lastMessage?.data.Data}}</span>
    </div>
  </div>
  <div class="permanent-info" *ngIf="lastMessage">
    <div class="attachment-type" *ngIf="lastMessage.data.Attachments.length">
      <i class="material-icons">
        {{isCapture(lastMessage.data.Attachments) ? 'photo' : 'attach_file'}}
      </i>
    </div>
    <div class="sent-date">{{lastMessage.data.SentDate | date:'shortTime'}}</div>
  </div>
</div>
