.conversation {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  cursor: pointer;

  &.active {
    background-color: #e3f2fd;
  }

  .state {
    width: 50px;
    height: 90px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .status, .callback {
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .status {
      margin-bottom: auto;
    }

    .callback {
      margin-top: auto;
    }
  }

  .text-data {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;

    .users-list {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: uppercase;

      .user:not(:last-child):after {
        content: ', '
      }
    }

    .chat-name {
      color: #1359a6;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }

    .chat-message {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .user {
        text-transform: uppercase;

        &:after {
          content: ': ';
        }
      }
    }
  }

  .permanent-info {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    text-align: right;
    align-items: flex-end;

    .attachment-type {
      margin-bottom: auto;

      .material-icons {
        font-size: 16px;
        padding: 5px 0;
      }
    }

    .sent-date {
      margin-top: auto;
    }
  }
}
