:host {
  .conversations-sort-by {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
  }

  .sort-type {
    font-size: 1.2rem;
  }
}
