<div class="conversations-sort-by">
  <span class="sort-type">Sort by: <strong>{{'Recent'}}</strong></span>
  <span class="sort-reverse">
    <i class="material-icons" *ngIf="reverseMode">arrow_upword</i>
    <i class="material-icons" *ngIf="!reverseMode">arrow_downward</i>
  </span>
</div>
