<div class="logo">
  <a [routerLink]="['/']">Webx messanger</a>
</div>
<ul class="tabs">
  <li>
    <a [routerLink]="['/conversations']" [routerLinkActive]="['active-tab']">
      <i class="material-icons">chat_bubble</i>
      <span>Conversations</span>
    </a>
    <div class="tab-content">
      <app-conversation-tab></app-conversation-tab>
    </div>
  </li>
  <li>
    <a [routerLink]="['/directory']" [routerLinkActive]="['active-tab']">
      <i class="material-icons">contacts</i>
      <span>Directory</span>
    </a>
    <div class="tab-content">
      <app-directory-tab></app-directory-tab>
    </div>
  </li>
  <li>
    <a [routerLink]="['/notifications']" [routerLinkActive]="['active-tab']">
      <i class="material-icons">notifications</i>
      <span>Notifications</span>
    </a>
    <div class="tab-content">
      <app-notification-tab></app-notification-tab>
    </div>
  </li>
  <li>
    <a [routerLink]="['/archive']" [routerLinkActive]="['active-tab']">
      <i class="material-icons">archive</i>
      <span>Archive</span>
    </a>
    <div class="tab-content">
      <app-archive-tab></app-archive-tab>
    </div>
  </li>
  <li>
    <a [routerLink]="['/history']" [routerLinkActive]="['active-tab']">
      <i class="material-icons">history</i>
      <span>History</span>
    </a>
    <div class="tab-content">
      <app-history-tab></app-history-tab>
    </div>
  </li>
</ul>
