$block-min-width: 320px;
$block-max-width: 25%;
$logo-height: 59px;
$tab-heigt: 60px;
$tab-content-offset: $tab-heigt;
$tab-content-height: calc(100vh - #{$logo-height + $logo-height});


:host {
  flex-basis: 380px;
  flex-grow: 0;
  height: 100vh;
  border-right: 1px solid #d6d6d6;
  background-color: #fff;

  @media (max-width: 1023px) {
    position: absolute;
    top: 0;
    left: -320px;
  }

  @media (min-width: 1500px) {
    flex-basis: 30%;
  }

  @media (min-width: 1900px) {
    flex-basis: 36%;
  }
}

.logo {
  width: 100%;
  height: $logo-height;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  text-indent: 8px;
}

.tabs {
  width: 100%;
  height: $tab-heigt;
  display: flex;
  padding: 0;
  position: relative;

  li {
    height: inherit;
    width: inherit;
    flex: 1;
    flex-shrink: 1;
    font-size: 0.7em;
    overflow: hidden;
    align-self: flex-end;
    list-style: none;
    background-color: #2565ad;
    display: flex;
    align-items: center;
    border-right: 1px solid #ffffff;

    &:first-child {
      border-left: 1px solid #ffffff;
    }

    a {
      height: inherit;
      width: 100%;
      color: #ffffff;
    text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-decoration: none;

      &.active-tab {
        background-color: #ffffff;
        color: #2565ad;
      }

      &.active-tab + .tab-content {
        visibility: visible;
      }
    }

    span {
      display: inline-block;
      padding: 0 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .tab-content {
      visibility: hidden;
      position: absolute;
      width: 100%;
      top: $tab-content-offset;
      left: 0;
      height: $tab-content-height;
    }
  }
}
