.conversations-search {
  padding: 10px 8px;
  border-bottom: 1px solid #d6d6d6;

  .search-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: inline-block;
      font-size: 1.8rem;
    }
  }
}
