<div class="conversations-search">
  <div class="search-intro" *ngIf="!searchMode">
    <span class="title">Conversations</span>
    <i class="material-icons" *ngIf="!reverseMode">search</i>
  </div>
  <div class="search-bar" *ngIf="searchMode"></div>
</div>
