:host {
  height: 100px;
  overflow: hidden;
}

.attachment-icon {
  text-align: center;

  .material-icons {
    font-size: 100px;
  }
}

.image {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px #0d54a4;
  border-radius: 5px;
}
