<div [style.background-image]="image" *ngIf="image" class="image"></div>

<div *ngIf="!image" class="attachment-icon">
  <i class="material-icons" *ngIf="fileExtension === 'file'">description</i>
  <i class="material-icons" *ngIf="fileExtension === 'image'">image</i>
</div>
