:host {
  flex-shrink: 0;
  overflow: hidden;
}

.message-wrap {
  width: 100%;
  overflow: hidden;
  // transition: background-color 1s ease-out 0.5s;

  // &.unread {
  //   background-color: rgba(227, 242, 253, 0.7);
  // }
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 15px;
  margin: 30px;
  border: 1px solid #B7B7B7;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  max-width: 80%;
  min-width: 260px;
  float: left;

  & > div {
    padding: 4px 0;
  }

  &.loading {
    background-color: #B7B7B7 !important;
    opacity: 0.8;

    &:after {
      border-color: #B7B7B7 transparent !important;
    }
  }

  &.from-me {
    border-color: #6F9CCD;
    background-color: #E3F2FD;
    float: right;

    &:before {
      border-color: #6F9CCD transparent;
      right: 20px;
      left:auto;
    }

    &:after {
      border-color: #E3F2FD transparent;
      right: 21px;
      left:auto;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 20px;
    border-width: 8px 8px 0;
    border-style: solid;
    border-color: #B7B7B7 transparent;
    display: block;
    width: 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 21px;
    border-width: 7px 7px 0;
    border-style: solid;
    border-color: #FFF transparent;
    display: block;
    width: 0;
  }

  p {
    margin-top: 10px;
  }

  .bottom-bar, .top-bar {
    position: absolute;
    left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  .top-bar {
    top: -30px;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    span:not(:last-child):after {
      content: '  •  ';
    }
  }

  .bottom-bar {
    bottom: -30px;
    color: #0d54a4;

    span {
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      span:not(:last-child):after {
        content: ' | ';
      }
    }



    .material-icons {
      font-size: 12px;
      padding-right: 4px;
    }
  }

  .name-section {
    color: #0D54A4;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    min-height: 30px;
  }
  .date-section {
    font-size: 10px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;

    .time-left {
      color: #0d54a4;
      text-transform: uppercase;
    }

    .sent-date {
      color: #828282;
    }
  }
}

.system-message {
  width: 100%;
  padding: 20px;
  text-align: center;

  color: rgba(0, 0, 0, 0.54);

  /deep/ span {
    font-weight: bold;
    color: #0d54a4;
  }
}
