<div class="message-wrap"
  [class.unread]="message.isUnread$ | async"
  [isEnabled]="message.isUnread$ | async"
  [parentSelector]="'#messages-list'"
  (appInview)="viewed()">
  <div class="message"
    *ngIf="message.data.SenderId"
    (click)="barToggle()"
    [class.from-me]="message.data?.SenderId === userId"
    [class.loading]="message.data?.isLoading"
    >
    <div class="top-bar" *ngIf="barToggleValue">
      <span *ngIf="!!messageUsersStats[1]">{{messageUsersStats[1]}}  Delivered</span>
      <span *ngIf="!!messageUsersStats[2]">{{messageUsersStats[2]}}  Viewed</span>
      <span *ngIf="!!messageUsersStats[3]">{{messageUsersStats[3]}}  Archived</span>
    </div>
    <div class="name-section">{{(messageUser | async)?.fullName}} {{message.data.Id}}<div class="spinner" *ngIf="message.data?.isLoading"></div></div>
    <div class="content-section">
      <app-message-thumbnail [message]="message.data" *ngIf="message.data.Attachments.length"></app-message-thumbnail>
      <p>{{message.data?.Data}}</p>
    </div>
    <div class="date-section">
      <div class="time-left">{{message.data.expireDate.getTime() - today.getTime() | amDuration:'millisecond' }} left</div>
      <div class="sent-date">{{message.data.SentDate | date:'dd MMM yyyy h:mm a'}}</div>
    </div>
    <div class="bottom-bar" *ngIf="barToggleValue">
      <span *ngIf="message.data?.SenderId === user?.Id"><i class="material-icons">update</i> Recall</span>
      <span><i class="material-icons">forward</i> Forward</span>
      <span><i class="material-icons">archive</i> Archive</span>
    </div>
  </div>

  <div class="system-message" [innerHTML]="message.data?.Data" *ngIf="!message.data.SenderId"></div>
</div>
