<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)" novalidate>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Password">
          </div>
          <button type="submit" class="btn btn-info" [disabled]="!form.valid">Submit</button>
        </form>
      </div>
  </div>
</div>
