:host {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.content {
  flex: 1 1 auto;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100%;
}

/deep/ app-tab-bar {
  flex: 1 0 auto;
}
