.spinner {
  height: 20px;
  width: 20px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #0d54a4;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
